.Absolute-ChatRoom{
    width: 100vw;
    /* height: max-content; */
    height: 100vh;
    background-image: url('/public/images/background1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ChatRoom{
    width: 50vw;
    border-radius: 35px;
    margin: auto;
    min-height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width:1200px){
.ChatRoom{
    width: 60vw;
}
}
@media only screen and (max-width:920px){
    .ChatRoom{
        width: 100vw;
        background-image: url('/public/images/background1.jpg');
    }
}

.ChatRoom-Navbar{
    position: absolute;
    top: 0%;
    border-bottom: 1px solid rgb(13, 36, 13);
    box-shadow: 2px 4px 4px rgb(11, 32, 11);
    /* background-color: rgb(12, 37, 12); */
    /* background-image: linear-gradient(to top,rgb(53, 54, 53),transparent); */
    /* background-image: linear-gradient(to top,green,transparent); */
    height: 8vh;
    width: 100%;
}
.ChatRoom-input-send-div{
    position: absolute;
    bottom: 0%;
    /* background-image: linear-gradient(to top,rgb(5, 32, 5),transparent); */
    background-color: rgb(5, 32, 5);
    /* background-image: linear-gradient(to bottom,rgb(136, 150, 136),transparent); */
    width: 100%;
    height: 7vh;
}
input{
    background-color: rgb(231, 238, 227);
    border-radius: 2px;
}
input[type=text]:focus{
    border: 1px transparent solid !important;
    outline: none;
}
.ChatThread{
    position: absolute;
    top: 9%;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    padding-top: 0vh;
}
.own-account-chat-img{
    width: 60px;
    height: 70px;
    border-radius: 100%;
}
.own-account-chat-img-spec{
width: 100%;
height: 100%;
border-radius: 100%;
}
.own-account-chat-message{
    width: 50%;
    min-height: 40px;
    background-color: rgb(204, 202, 202);
    text-align: left;
    border-radius:0px 9px 9px 9px;
    font-size: medium;

}
.own-account-chat-message p{
    margin-left: 3px;
}
.therapist-account-chat-img{
    width: 60px;
    height: 70px;
}
.therapist-account-chat-img-spec{
width: 100%;
height: 100%;
border-radius: 100%;
}
.therapist-account-chat-message{
    width: 50% !important;
    min-height: 40px; 
    background-color: rgb(231, 230, 230);
    /* background-color: gainsboro; */
    text-align: left;
    border-radius: 9px 0px 9px 9px;
}
.therapist-account-chat-message p{
    margin-left: 3px;
    font-size: medium;
}
.chat-input{
    width: 100% !important;
}
@media only screen and (max-width:920px){
    .own-account-chat-message{
        width: 60%;
    
    }
    .own-account-chat-img{
        width: 55px;
        height: 60px;
    }
    .therapist-account-chat-message{
        width: 60%;
    
    }
    .therapist-account-chat-img{
        width: 55px;
        height: 60px;
    }
}
@media only screen and (max-width:620px){
    .own-account-chat-message{
        width: 70%;
        min-height: 30px;
    
    }
    .own-account-chat-img{
        width: 45px;
        height: 50px;
    }
    .own-account-chat-message p{
        font-size: small;
        margin-left: 2px;
    }
    .therapist-account-chat-message{
        width: 70% !important;
        min-height: 30px;
    
    }
    .therapist-account-chat-img{
        width: 40px;
        height: 45px;
    }
    .therapist-account-chat-message p{
        font-size: small;
        margin-left: 2px;
    }
}
@media only screen and (max-width:420px){
    .own-account-chat-message{
        width: 60%;
        min-height: 30px;
    
    }
    .therapist-account-chat-message{
        width: 60% !important;
        min-height: 30px;
    
    }
}