.Testimonials{
    width: 70vw;
    margin: auto;
}
.swiper-img{
    border-radius: 2px;
    width: 200px;
    height: 250px;
    margin: auto;
    /* color: ; */
}
@media only screen and(max-width: 1200px){
.swiper-img{
    border-radius: 2px;
    width: 180px;
    height: 220px;
    margin: auto;
    /* color: ; */
}
}
@media only screen and(max-width: 768px){
.Testimonials{
    width: 80vw;
    margin: auto;
}
.swiper-img{
    border-radius: 2px;
    width: 130px;
    height: 150px;
    margin: auto;
    /* color: ; */
}
}