.Testimonials{
    width: 70vw;
    margin: auto;
    /* background-color: grey !important; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.swiper-img{
    border-radius: 2px;
    width: 200px;
    height: 250px;
    margin: auto;
    /* color: ; */
}
@media only screen and(max-width: 1200px){
.swiper-img{
    border-radius: 2px;
    width: 180px;
    height: 220px;
    margin: auto;
    /* color: ; */
}
}
@media only screen and(max-width: 768px){
.Testimonials{
    width: 80vw;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.swiper-img{
    border-radius: 2px;
    width: 130px;
    height: 150px;
    margin: auto;
    /* color: ; */
}
}