.TherapistsProfile{
     width: 100vw;
     height: max-content;
    background-image: #000;
    margin-top: 5vh;
    display: flex;
}
.therapist-profile-one{
flex: 40%;
/* border: 1px solid green; */
position: relative;
/* background-color: rgb(237, 255, 236); */
background-image: url('/public/images/pexels-cátia-matos-1072179.jpg');
/* background-image: url('/public/images/pexels-tausif-hossain-1226302.jpg'); */
/* background-image: url('/public/images/pexels-alexey-demidov-12726235.jpg'); */
/* background-image: url('/public/images/pexels-fwstudio-129733.jpg'); */
background-position: center;
background-attachment: fixed;
background-size: cover;
color: rgb(242, 247, 242);
height: 95vh;

width: 100%;
}
.therapist-profile-two{
    width: 100%;
    flex: 60%;
    /* background-color: rgb(189, 228, 228); */
}
.two-booking-calendar{
    margin: auto;
}
.therapist-profile-page-img-div{
    position: absolute;
    top: 15% !important;
}
.therapist-profile-page-img{
    border-radius: 100%;
    width: 250px;
    height:  300px;
    /* box-shadow: 2px 2px 4px rgb(68, 70, 68); */
    border: 1px solid rgb(245, 255, 245);
}
.therapist-profile-page-content-div{
    position: absolute;
    bottom: 20%;
    display: block;
    width: 80%;
    margin: auto !important;
   font-size: large;
}
.textearea-booking{
    background-color: rgb(229, 247, 229);
}
.therapist-profile-page-content-div{
margin: auto;
}
.BookingButton{
    width: fit-content;
    background-color: rgb(56, 146, 56) !important;
    margin: auto;
    margin-top: 1rem !important;
    padding: 5px 12px;
}
@media only screen and (max-width:1200px){
    .therapist-profile-page-content-div{
        position: absolute;
        bottom: 10%;
        display: block;
        width: 80%;
        margin: auto !important;
    }
    .therapist-profile-page-img{
        border-radius: 100%;
        width: 200px;
        height:  230px;
    }
}
@media only screen and (max-width:920px){
    .therapist-profile-page-img{
        border-radius: 100%;
        width: 200px;
        height:  250px;
    }
    .therapist-profile-page-content-div{
        position: absolute;
        bottom: 30%;
        display: block;
        width: 80%;
        margin: auto !important;
    }
    .therapist-profile-page-img-div{
        position: absolute;
        top: 20% !important;
    }
 }
 /* Smaller Devices */
@media only screen and (max-width:768px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        position: relative;
        height: 30vh;
        width: 100%;
        background-position: fixed;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 160px;
            height:  180px;
            margin-left: 60px;
            margin-top: px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }

}
@media only screen and (max-width:590px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        font-size: small;
        position: relative;
        height: 30vh;
        width: 100%;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 130px;
            height:  150px;
            margin-left: 50px;
            margin-top: 5px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }
        .therapist-profile-page-content-div{
            position: absolute;
            bottom: 20%;
            display: block;
            width: 90%;
            margin: auto !important;
        }
        .therapist-profile-page-content-div{
            font-size: medium;
        }

}
@media only screen and (max-width:520px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        font-size: small;
        position: relative;
        height: 25vh;
        width: 100%;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 120px;
            height:  140px;
            margin-left: 50px;
            margin-top: 25px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }
        .therapist-profile-page-content-div{
            position: absolute;
            bottom: 20%;
            display: block;
            width: 90%;
            margin: auto !important;
            font-size: small;
        }

}
@media only screen and (max-width:420px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        font-size: smaller;
        position: relative;
        height: 25vh;
        width: 100%;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 120px;
            height:  130px;
            margin-left: 50px;
            margin-top: 5px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }
        .therapist-profile-page-content-div{
            position: absolute;
            bottom: 20%;
            display: block;
            width: 96%;
            margin: auto !important;
        }

}

@media only screen and (max-width:376px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        font-size: smaller;
        position: relative;
        height: 30vh;
        width: 100%;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 120px;
            height:  130px;
            margin-left: 50px;
            margin-top: 0px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }
        .therapist-profile-page-content-div{
            position: absolute;
            bottom: 20%;
            display: block;
            width: 96%;
            margin: auto !important;
        }

}
@media only screen and (max-width:362px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        font-size: smaller;
        position: relative;
        height: 26vh;
        width: 100%;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 120px;
            height:  130px;
            margin-left: 50px;
            margin-top: 5px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }
        .therapist-profile-page-content-div{
            position: absolute;
            bottom: 20%;
            display: block;
            width: 96%;
            margin: auto !important;
        }

}


@media only screen and (max-width:362px){
    .TherapistsProfile{
        display: block;
    }
    .therapist-profile-one{
        flex: 100%;
        font-size: smaller;
        position: relative;
        height: 26vh;
        width: 100%;
        /* display: flex; */
        }
        .therapist-profile-page-img{
            border-radius: 100%;
            width: 120px;
            height:  130px;
            margin-left: 50px;
            margin-top: 5px;
        }
        .therapist-profile-page-img-div{
            position: absolute;
            /* top: 15% !important; */
            /* left: 0 !important; */
        }
        .therapist-profile-page-content-div{
            position: absolute;
            bottom: 20%;
            display: block;
            width: 96%;
            margin: auto !important;
        }

}

