.TherapistsProfile{
     width: 100vw;
     height: max-content;
    background-image: #000;
    margin-top: 200px;
    display: flex;
}
.therapist-profile-one{
flex: 40%;
/* border: 1px solid green; */
position: relative;
background-color: rgb(235, 248, 235);
height: 60vh;
width: 100%;
}
.therapist-profile-two{
    width: 100%;
    flex: 60%;
    /* background-color: rgb(189, 228, 228); */
}
.two-booking-calendar{
    margin: auto;
}
.therapist-profile-page-img-div{
    position: absolute;
    top: -20% !important;
}
.therapist-profile-page-img{
    border-radius: 100%;
    width: 250px;
    height:  300px;
    box-shadow: 2px 2px 4px rgb(3, 56, 7);
}
.therapist-profile-page-content-div{
    position: absolute;
    bottom: 0%;
    display: block;
    width: 80%;
    margin: auto !important;
}
.textearea-booking{
    background-color: rgb(235, 248, 235);
}
.therapist-profile-page-content-div{
margin: auto;
}
.BookingButton{
    width: fit-content;
    background-color: rgb(34, 151, 34);
    margin: auto;
    padding: 5px 12px;
}

@media only screen and (max-width:920px){
    .therapist-profile-page-img{
        border-radius: 100%;
        width: 200px;
        height:  250px;
    }
 }
@media only screen and (max-width:768px){
   .TherapistsProfile{
    display: flex;
    flex-direction: column;
   }    
.therapist-profile-one{
width: 100%;
}
.therapist-profile-two{
    width: 80%;
    margin: auto;

}
}