.Articles{
    width: 100vw;
    height: max-content;
    padding-top: 1rem;
    padding-bottom: 6rem;
}
.Even-more-stories{
    width: 100vw !important;
    height: max-content;
    /* background-color: rebeccapurple; */
}
.one-article-img{
    width: 100%;
    height: 25vh;
   }
   .main-article-img{
       width: 80%;
       height: 50vh;
       margin: auto;
       }
.article-btn{
    padding: 8px  22px;
}
.article-content{
    text-align: left;
    width: 80%;
}
.iish{
    text-align: left;
}
.one-article-content{
    width: 100%;
    min-height: 15vh;
    position: relative;
}
.article-readmore{
    position: absolute;
    bottom: 0;
    font-size: medium;
}
@media only screen and (max-width:950px){
    .article-content{
        text-align: center;
        width: 100%;
    }
}
@media only screen and (max-width:768px){
    .one-article-img{
        width: 100%;
        height: 20vh;
       }
    .Even-more-stories{
        width: 100%;
        height: max-content;
        display: flex;
    } 
    .article-content{
        text-align: center;
        width: 100%;
    }
    .main-article-img{
        width: 80%;
        height: 40vh;
    }
    .article-content{
        text-align: center;
        width: 100%;
    }
    .article-readmore{
        font-size: small;
    }
}

.one-more-story{
    width: 30vw;
    height: 100%;
}
.One-article{
    width: 100%;
    height: 20vh;
}


.More-div{
    width: 80%;
    margin: auto;
}
@media only screen and (max-width:620px){
    .More-div{
        width: 95%;
        margin: auto;
    } 
    .one-article-content{
        font-size: small;
        min-height: 10vh;
    } 
    .article-readmore{
        font-size: x-small;

    }
}