.Professionals{
    width: 100vw;
    height: max-content;
    /* background-color: aqua; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* font-family: System; */
    font-family: System;
}
.para-galla{
    width: 70%;
    margin: auto;
    /* background-color: brown; */
    display: flex;
}
.Professional-tagline{
    width: 70%;
    /* background-color: blue; */
    margin: auto;
    text-align: left;
}
.Professional-tagline-div{
    width: 50%;
    flex-wrap: wrap;
}
.para{
    flex:40%;
}
.galla{
    flex: 60%;
    height: max-content !important;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.galla-img-div{
    width: 40%;
}
.galla-img{
    width: 80%;
    height: 200px;
    margin: auto;
}
.g-one{
    border-radius: 0px 34px 0px 34px;
    margin: 5px;
}
.g-two{
    border-radius: 0px 34px 0px 34px;
}
.getStarted{
    width: 50%;
    padding: 10px 5px;
    /* background-color:   rgb(112, 194, 107) !important; */
    border-radius: 10px;
    margin: auto;
}
@media only screen and (max-width:920px){
  .para-galla{
    display: flex;
    width: 80%;
    flex-direction: column-reverse;
  }
  .Professional-tagline{
    width: 80%;
  }
  .Professional-tagline-div{
    width: 60%;
    flex-wrap: wrap;
}
 }
 @media only screen and (max-width:768px){
    .para-galla{
      display: flex;
      width: 80%;
      flex-direction: column-reverse;
    }
    .Professional-tagline{
      width: 80%;
    }
    .Professional-tagline-div{
      width: 70%;
      flex-wrap: wrap;
  }
  .galla-img-div{
    width: 30%;
}
  .galla-img{
    height: 80%;
  }
  .getStarted{
    width: 20%;
    margin-top: 4rem;
    border-radius: 7px;
   
}
.g-one{
  border-radius: 0px 24px 0px 24px;
  margin: 5px;
}
   }
   @media only screen and (max-width:520px){

  .getStarted{
    width: 30%;
    margin-top: 3rem;
    border-radius: 5px;
   
}
.Professional-tagline-div{
    width: 90%;
}
.g-one{
  border-radius: 0px 14px 0px 14px;
  margin: 5px;
}
   }
   @media only screen and (max-width:468px){

    .getStarted{
      width: 40%;
      margin-top: 3rem;
      border-radius: 5px;
     
  }

     }