.BlogNav{
    width: 100vw;
    min-height: 10vh;
    /* margin-top: -40px; */
}
.blog-logo-image{
    width: max-content;
    height: 200px;
}
.Welcome-blog-text{
    color: green;
    font-family: System;
    font-size: medium;
}
@media only screen and (max-width:768px){
    .Welcome-blog-text{
        font-size: medium;
        display: flex;
        flex-wrap: nowrap;
    }
    }
@media only screen and (max-width:468px){
    .blog-logo-image{
        width: 250px;
        height: max-content;
    }
    .Welcome-blog-text{
        font-size: xx-small;
        display: flex;
        flex-wrap: nowrap;
    }
    }
@media only screen and (max-width:428px){
    .blog-logo-image{
            width: 200px;
            height: max-content;
    }

}


/* Hero Section */
.Blog-Hero{
     max-width: 100vw;
     height: 80vh;
     margin-top: -20px;
     background-image: url('/public/images/writealetter.jpg') !important;
     background-position: bottom;
     background-size: cover;
     background-attachment: fixed;
     position: relative;
}
.gradient-div{
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(to top,rgb(27, 29, 27),transparent,transparent,transparent);
}
.animation-div{
    position: absolute;
    top:0;
}
.blog-sub-div{
    width: 30vw;
    height: 25vh;
    color: whitesmoke;
    background-color: rgb(102, 168, 37);
}
@media only screen and (max-width:920px){
    .blog-sub-div{
        width: 40vw;
        height: 25vh;
    }
}
@media only screen and (max-width:620px){
    .blog-sub-div{
        width: 50vw;
        height: 25vh;
    }
}
@media only screen and (max-width:468px){
        .blog-sub-div{
            width: 60vw;
            height: 25vh;
    }
}
.animate__animated.animate__fadeIn{
    --animate-duration: 4s;
  }