.BlogNav{
    max-width: 100vw !important;
    min-height: 10vh;
    /* margin-top: -40px; */
}
.blog-logo-image{
    width: max-content;
    height: 200px;
}
.Welcome-blog-text{
    color: green;
    font-family: System;
    font-size: medium;
}
@media only screen and (max-width:768px){
    .Welcome-blog-text{
        font-size: medium;
        display: flex;
        flex-wrap: nowrap;
    }
    }
@media only screen and (max-width:468px){
    .blog-logo-image{
        width: 250px;
        height: max-content;
    }
    .Welcome-blog-text{
        font-size: xx-small;
        display: flex;
        flex-wrap: nowrap;
    }
    }
@media only screen and (max-width:428px){
    .blog-logo-image{
            width: 200px;
            height: max-content;
    }

}


/* Hero Section */
.Blog-Hero{
     max-width: 100vw;
     min-height: 80vh;
     margin-top: -20px;
     background-image: url('/public/images/pexels-tirachard-kumtanom-733852.jpg') !important;
     background-position: top right;
     background-size: cover;
     background-attachment: fixed;
     position: relative;
}
.gradient-div{
    bottom: 0;
    position: absolute;
    /* background-image: linear-gradient(to top,rgb(27, 29, 27),transparent,transparent,transparent); */
}
.animation-div{
    /* background-color: aqua; */
    height: max-content;
    position: absolute;
    top:0;
}
.blog-sub-div{
    width: 22vw;
    height: 30vh;
    color: whitesmoke;
    /* background-color: rgb(102, 168, 37); */
    position: relative;
}
.connect-social-media{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: black; */
    border-radius: 100%;
}
.connect-blend{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 100%;
    mix-blend-mode: soft-light;
}
.connect-social-icon:hover {
    background-color: rgb(7, 10, 7);
    -webkit-animation: shake 1s !important;
    animation: shake 1s !important;
    cursor: pointer;
    /* color: green; */
}

.connect-social-icon{
    position: absolute;
    color: white;
}
@media only screen and (max-width:1200px){
   .blog-sub-div{
    width: 25vh;
    height: 25vh;
   }
}
@media only screen and (max-width:920px){
    .blog-sub-div{
        width: 25vw;
        height: 25vh;
    }
}
@media only screen and (max-width:768px){
    .Blog-Hero{
        height: 75vh;
        background-position: top center !important;
    }
    .blog-sub-div{
        width: 30vw;
        height: 25vh;
    }
}
@media only screen and (max-width:620px){
    .Blog-Hero{
        height: 60vh;
        background-position: top center !important;
    }
    .blog-sub-div{
        width: 28vw;
        height: 16h;
    }
}
@media only screen and (max-width:468px){
    .Blog-Hero{
        height: 54vh !important;
        /* background-color: aqua; */
    }
        .blog-sub-div{
            width: 32vw;
            height: 18vh;
    }
}
.animate__animated.animate__fadeIn{
    --animate-duration: 3s;
  }
.animate__animated.animate__rotateIn{
    --animate-duration: 2s;
}
.animate__animated.animate__bounceInUp{
    --animate-duration: 5s;
    --animate-repeat: 1000;
}
.animate__animated.animate__heartBeat{
    --animate-duration: 8s;
    --animate-repeat: 100000;
}